body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  width: 50%;
}
.header {
  text-align: center;
  margin: 0 auto;
}
.header h1 {
  color: #564b7c;
  font-weight: 300;
  font-size: 84px;
}

.input input {
  width: 100%;
  font-size: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  background-color: transparent;
}

.box {
  width: 95%;
  margin: 20px auto 60px;
}

.list {
  background-color: #eeedef;
  margin: 5px 0;
  list-style: none;
  cursor: pointer;
  border: none;
  border-left: 8px solid #fb4604;
  padding: 12px 10px;
}

.pre_icon {
  margin: 0 10px;
  color: royalblue;
}

.item {
  color: #000000;
  font-weight: 300;
  font-size: 15px;
}

.post_icon {
  float: right;
  margin-right: 20px;
  font-size: 18px;
}

.edit_icon {
  color: royalblue;
}

.delete_icon {
  color: #fb4604;
}

.updateInput {
  width: 75%;
  display: inline-block;
  font-size: 14px;
  padding-left: 24px;
}

.updateInput input {
  padding: 0 5px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #564b7c;
  background-color: transparent;
}

.button {
  padding: 10px;
  margin: 14px 10px 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
  width: 120px;
  font-weight: 700;
}

.button.selected {
  background-color: #9e0093;
  color: #ffffff;
  border-radius: 5px;
}
